<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Um pouco sobre mim...</h2>
                <hr class="light">
                <p class="text-faded">Meu nome é Carlos Alexandre Costa,tenho 31 anos de idade e sou graduado em Engenharia de Produção. Meu primeiro contato em Data Science começou no ano de 2019, momento pelo qual decidi com toda convicção que era o momento de mudar de carreira e abraçar o mundo dos dados</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
